.body {
    text-align: center;
}


/* Styles for navigation */
#nav-children {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #333;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1.25rem;
}


/* Typography */
h1 {
    margin: .0625rem;
}

h1,h2 {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: black;
}

.lists {
    color: white;
    text-decoration: none;
}


.section--paragraph {
    max-width: 37.5rem;
    margin: 0 auto;
}

p {
    line-height: 1.5em;
}


.hero {
    background-image: url('./images/IMG_20220520_151226_570.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 6.25rem 0;
}


/* Page color theme Dark mode/light mode */
#dark-light-theme {
    border-radius: .75rem;
    padding: .625rem;
    background-color: greenyellow;
    border: none;
    cursor: pointer;
}

.dark {
    background: rgb(17, 17, 17);
    color: whitesmoke;
    text-align: center;
}

.greyed {
    background-color: #333;
    color: whitesmoke;
}


/* Page cards */
.project-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.card {
    height: 12.5rem;
    width: 20rem;
    background-color: whitesmoke;
    border: .03125rem solid #333;
    border-radius: 6px;
    margin: 20px;
    flex-wrap: order;
    text-decoration: none;
    box-shadow: -.375rem -.375rem .375rem black;
}

.blur {
    text-shadow: -.1875rem -.1875rem .5rem black;
}


/* Media querries */

@media screen and (max-width: 480px) {
    .project-card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6fr;
        justify-items: center;
        align-items: center;
    }
  }

  @media screen and (max-width: 768px) {
    .project-card {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 3fr;
        justify-items: center;
        align-items: center;
        /* background: red; */
    }
  }