.body {
    text-align: center;
}

#nav-children {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 10px;
}

h1,h2 {
    font-size: 2em;
}

.lists {
    color: white;
    list-style: none;
}

.blur {
    text-shadow: -3px -3px 8px black;
}

p {
    line-height: 1.5em;
}

.hero {
    background-image: url('./images/IMG_20220520_151226_570.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

/* Styles for navigation */
nav {
    background-color: #333;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.project-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.card {
    height: 200px;
    width: 320px;
    background-color: aqua;
    border-radius: 6px;
    margin: 20px;
    flex-wrap: order;
}

#dark-light-theme {
    border-radius: 12px;
    padding: 10px;
    background-color: greenyellow;
    border: none;
}

.dark {
    background: rgb(17, 17, 17);
    color: whitesmoke;
    text-align: center;
}

/* Media querriy */

@media screen and (max-width: 480px) {
    .project-card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6fr;
        justify-items: center;
        align-items: center;
    }
  }